<div class="main">

  <ul class="left">
    <h1>Ready-To-Eat Burgers</h1>

    {{#each burgers}}
    {{#unless devoured}}
    <li class="each">{{burger_name}} &emsp; <button class="eat" data-id={{id}}>Devour</button></li>
    {{/unless}}
    </li>
    {{/each}}
  </ul>

  <div class="middle">
    <img class="pic"
      src="https://lh3.googleusercontent.com/proxy/UPktn2LGU_IhX3m60ZrCPenztNS6FLgzDyNIgvvJQQYkiTdsdbgVoIEz6TTx_dI1_LRS0ZciENjzl2D8Sk3zpV8EJw"
      alt="Hamburger Pic">
    <br>
    <form>
      <div class="input-group mb-3">
        <input type="text" class="form-control formWidth" placeholder="Create new burger" name="Burger Name"
          id="newBurger" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary my-2" type="submit" id="submit">Create</button>
        </div>
      </div>
  </div>

  <ul class="right">
    <h1>Devoured Burgers</h1>
    {{#each burgers}}
    {{#if devoured}}
    <li class="each">{{burger_name}}&emsp; <button class="delete" data-id={{id}}>Delete</button></li>

    {{/if}}
    {{/each}}
  </ul>

</div>
<script>
  $(function () {
    $(".eat").on("click", function (event) {
      const id = $(this).data("id");
      const devoured = {
        name: $('.id').val()
      };
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: devoured
      }).then(
        function () {
          location.reload();
        }
      );
    });

    $("#submit").on("click", function (event) {
      event.preventDefault();
      const newBurger = {
        name: $("#newBurger").val().trim(),
        devoured: false
      };
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("created new burger");
          location.reload();
        }
      );
    });

    $(".delete").on("click", function (event) {
      const id = $(this).data("id");
      $.ajax("/api/burgers/" + id, {
        type: "DELETE"
      }).then(
        function () {
          console.log("deleted burger", id);
          location.reload();
        }
      );
    });
  }); 
</script>