body{
    background-color: yellow;
}

.main {
    display: flex;
     
}

.left{
list-style: none;
flex: 1;
text-align: center;
margin-bottom: 40px
}

h1{
    margin-bottom: 40px;
}
.each{
    margin-bottom:15px;
    font-size: 1.5em;
}

.right{
    list-style: none;
    flex: 1;
    text-align: center;
    margin-bottom: 40px

}

.move{
    position: relative;
}
.formWidth{
    width: 250px;
}

.pic{
    align-items: center;
        justify-content: center;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    
}
.middle{
    text-align: center;
flex:  1;
align-items: center;
justify-content: center;
flex-direction: column;
}

#submit:hover, .delete:hover, .eat:hover{
    background-color: yellowgreen;
    color: white;
}